// EdProd Framework Settings
// THIS FILE IS FOR VARIABLES ONLY!!
// Look at the _settings.scss file one folder up to see available variables
// USE _overrides.scss FOR CSS RULES
// This file loads before the framework, so most foundation variables are not
// available yet. Overrides loads after the framework.

$primary-color: #FA4B2A;
$secondary-color: #000000;

$arrow-color: $primary-color;

$header-font-family: $adelle;
$header-font-weight: bold;
$body-font-family: $menu-font;

$button-font-family: Helvetica, Arial, sans-serif;
$button-bg-color: $secondary-color;
$button-bg-color-hover: lighten($button-bg-color, 15%);
