// EdProd Framework Settings
// THIS FILE IS FOR VARIABLES ONLY!!
// Look at the _settings.scss file one folder up to see available variables
// USE _overrides.scss FOR CSS RULES
// This file loads before the framework, so most foundation variables are not
// available yet. Overrides loads after the framework.

$primary-color: green;
$secondary-color: purple;

$header-font-family: Verdana, Helvetica, Roboto, Arial, sans-serif;
$body-font-family: Georgia, Cambria, "Times New Roman", Times, serif;

$button-bg-color: $secondary-color;
$button-bg-color-hover: darken($button-bg-color, 4%);
