@charset "utf-8";

body {
  color:#222;
}
article {
  max-width:600px;
  margin:0 auto;
  box-sizing: border-box;
}

#output {
  padding:5%;
  background-color:#efefef;
}
h4 {
  font-size:14px;
  margin:0;
  text-transform: uppercase;
}
h2 {
  font-size:32px;
  margin:5px 0 0;
}

h4, h2 {
  line-height:1.4em;
  font-weight:normal;
}


#generate {
  display:block;
  width:100%;
  padding:5% 1%;
  text-align:center;
  background-color:#bfbfbf;
  color:black;
  text-decoration:none;
  box-sizing: border-box;
  text-transform: uppercase;
}
#generate:hover {
  background-color:#cfcfcf;
  color:#333;
}
