@charset "utf-8";

body {
  color:#222;
}
article {
  max-width:600px;
  margin:0 auto;
  box-sizing: border-box;
  overflow: hidden;
}

#output {
  padding:5%;
  background-color:#efefef;
}
h4 {
  font-size:14px;
  margin:0;
  text-transform: uppercase;
}
h2 {
  font-size:32px;
  margin:5px 0 0;
}

h4, h2 {
  line-height:1.4em;
  font-weight:normal;
}


#generate {
  display:block;
  width:100%;
  padding:5% 1%;
  text-align:center;
  background-color:#bfbfbf;
  color:black;
  text-decoration:none;
  box-sizing: border-box;
  text-transform: uppercase;
}
#generate:hover {
  background-color:#cfcfcf;
  color:#333;
}

.share {margin-top: 5%;}
.share a {
  display:block;
  box-sizing: border-box;
  width:50%;
  float:left;
  padding:3% 1%;
  text-align:center;
  text-decoration:none;
}
.share a:hover {
  opacity:.8;
}

#twitter, #twitter:visited {
  background-color: #00aced;
  color: white;
}
#facebook, #twitter:visited {
  background-color: #325a97;
  color: white;
}
