@import url("https://hello.myfonts.net/count/2beb0e");
@import url("https://hello.myfonts.net/count/2c0121");

$title-font: "Whitney A", "Whitney B", 'Helvetica', 'Arial', sans-serif;
$output-font: "Whitney A", "Whitney B", 'Helvetica', 'Arial', sans-serif;
$social-font: "Whitney A", "Whitney B", 'Helvetica', 'Arial', sans-serif;
$generate-font: "Whitney A", "Whitney B", 'Helvetica', 'Arial', sans-serif;
$generate-bg: #e60000;