@import url(https://cloud.typography.com/706184/753582/css/fonts.css);

$title-font: 'Gotham SSm A', 'Gotham SSm B', 'Helvetica', 'Arial', sans-serif;
$output-font: 'Gotham SSm A', 'Gotham SSm B', 'Helvetica', 'Arial', sans-serif;
$social-font: 'Gotham SSm A', 'Gotham SSm B', 'Helvetica', 'Arial', sans-serif;
$generate-font: 'Gotham SSm A', 'Gotham SSm B', 'Helvetica', 'Arial', sans-serif;
$generate-bg: #ff0052;