@import url(https://cloud.typography.com/706184/796042/css/fonts.css);
@import url(https://cloud.typography.com/706184/753582/css/fonts.css);

$title-font: 'Gotham SSm A', 'Gotham SSm B', 'Helvetica', 'Arial', sans-serif;
$output-font: 'Sentinel SSm A', 'Sentinel SSm B', 'Georgia', serif;
$social-font: 'Gotham SSm A', 'Gotham SSm B', ''Helvetica', 'Arial'', sans-serif;
$generate-font: 'Gotham SSm A', 'Gotham SSm B', 'Helvetica', 'Arial', sans-serif;
$generate-bg: #292929;

#generate {
	font-weight: bold;
}

.share {
	letter-spacing: 1px;
}