@import url("//hello.myfonts.net/count/293d82");

$title-font: 'Helvetica', 'Arial', sans-serif;
$output-font: 'Helvetica', 'Arial', sans-serif;
$social-font: 'ff-din-web-condensed', 'Arial', sans-serif;
$generate-font: 'Helvetica', 'Arial', sans-serif;
$generate-bg: #fa4b2a;