@font-face {
  font-family: "Balto";
  src: url('http://www.vox.com/fonts/vox/baltoweb-medium.eot');
  src: url('http://www.vox.com/fonts/vox/baltoweb-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

$title-font: "Balto", 'Helvetica', 'Arial', sans-serif;
$output-font: "Balto", 'Helvetica', 'Arial', sans-serif;
$social-font: "Balto", 'Helvetica', 'Arial', sans-serif;
$generate-font: "Balto", 'Helvetica', 'Arial', sans-serif;
$generate-bg: #4f7177;