// EdProd Framework Settings
// THIS FILE IS FOR VARIABLES ONLY!!
// Look at the _settings.scss file one folder up to see available variables
// USE _overrides.scss FOR CSS RULES
// This file loads before the framework, so most foundation variables are not
// available yet. Overrides loads after the framework.

$primary-color: #e60000;
$secondary-color: #70002a;

$eater-hot-orange: #ff3200;
$arrow-color: $eater-hot-orange;

$header-font-family: GloberBold;
$body-font-family: "Whitney A","Whitney B";
$paragraph-font-family: $body-font-family;

$button-bg-color: $secondary-color;
$button-bg-color-hover: darken($button-bg-color, 4%);
