@import url(http://cloud.typography.com/706184/753582/css/fonts.css);

.-gotham {
  font-family: 'Gotham SSm A', 'Gotham SSm B';
  font-weight: 400;
  font-style: normal;
}

.-gotham-bold {
  font-family: 'Gotham SSm A', 'Gotham SSm B';
  font-weight: 700;
  font-style: normal;
}

.-gotham-ultra {
  font-family: 'Gotham A', 'Gotham B';
  font-weight: 900;
  font-style: normal;
}

.-mercury {
  font-family: 'Mercury SSm A', 'Mercury SSm B';
  font-weight: 400;
  font-style: normal;
}

.-mercury-italic {
  font-family: 'Mercury SSm A', 'Mercury SSm B';
  font-weight: 400;
  font-style: italic;
}

.-mercury-bold {
  font-family: 'Mercury SSm A', 'Mercury SSm B';
  font-weight: 700;
  font-style: normal;
}
