// EdProd Framework Settings
// THIS FILE IS FOR VARIABLES ONLY!!
// Look at the _settings.scss file one folder up to see available variables
// USE _overrides.scss FOR CSS RULES
// This file loads before the framework, so most foundation variables are not
// available yet. Overrides loads after the framework.

$primary-color: rgb(255, 0, 82);
$secondary-color: rgb(142, 43, 136);;

$arrow-color: $primary-color;

$body-font-family: 'Mercury SSm A', 'Mercury SSm B';

$header-font-family: 'Gotham SSm A', 'Gotham SSm B';
$header-font-weight: 700;

$button-font-family: $header-font-family;
$button-bg-color: $secondary-color;
$button-bg-color-hover: darken($button-bg-color, 10%);
