@font-face {
  font-family: 'Open Sans';
  src: url('//fonts.voxmedia.com/mkbhd/OpenSans-Regular.eot');
  src: url('//fonts.voxmedia.com/mkbhd/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),url('//fonts.voxmedia.com/mkbhd/OpenSans-Regular.woff2') format('woff2'),url('//fonts.voxmedia.com/mkbhd/OpenSans-Regular.woff') format('woff'),url('//fonts.voxmedia.com/mkbhd/OpenSans-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Open Sans Bold';
  src: url('//fonts.voxmedia.com/mkbhd/OpenSans-Bold.eot');
  src: url('//fonts.voxmedia.com/mkbhd/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),url('//fonts.voxmedia.com/mkbhd/OpenSans-Bold.woff2') format('woff2'),url('//fonts.voxmedia.com/mkbhd/OpenSans-Bold.woff') format('woff'),url('//fonts.voxmedia.com/mkbhd/OpenSans-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family:"Klavika Bold";
  src: url("//fonts.voxmedia.com/unison/klavika/klavikawebbasicbold/klavikawebbasicbold.eot");
  src: url("//fonts.voxmedia.com/unison/klavika/klavikawebbasicbold/klavikawebbasicbold.eot?") format("embedded-opentype"),
     url("//fonts.voxmedia.com/unison/klavika/klavikawebbasicbold/klavikawebbasicbold.woff2") format("woff2"),
       url("//fonts.voxmedia.com/unison/klavika/klavikawebbasicbold/klavikawebbasicbold.woff") format("woff");
  font-style:normal;
  font-weight:700;
}

@font-face {
  font-family:"Klavika Bold Italic";
  src: url("//fonts.voxmedia.com/unison/klavika/klavikawebbasicbolditalic/klavikawebbasicbolditalic.eot");
  src: url("//fonts.voxmedia.com/unison/klavika/klavikawebbasicbolditalic/klavikawebbasicbolditalic.eot?") format("embedded-opentype"),
     url("//fonts.voxmedia.com/unison/klavika/klavikawebbasicbolditalic/klavikawebbasicbolditalic.woff2") format("woff2"),
       url("//fonts.voxmedia.com/unison/klavika/klavikawebbasicbolditalic/klavikawebbasicbolditalic.woff") format("woff");
  font-style:italic;
  font-weight:700;
}

@font-face {
  font-family:"Klavika";
  src: url("//fonts.voxmedia.com/unison/klavika/klavikawebbasicregular/klavikawebbasicregular.eot");
  src: url("//fonts.voxmedia.com/unison/klavika/klavikawebbasicregular/klavikawebbasicregular.eot?") format("embedded-opentype"),
     url("//fonts.voxmedia.com/unison/klavika/klavikawebbasicregular/klavikawebbasicregular.woff2") format("woff2"),
       url("//fonts.voxmedia.com/unison/klavika/klavikawebbasicregular/klavikawebbasicregular.woff") format("woff");
  font-weight:400;
}

@font-face {
  font-family:"Klavika Italic";
  src: url("//fonts.voxmedia.com/unison/klavika/klavikawebbasicregularItalic/klavikawebbasicregularItalic.eot");
  src: url("//fonts.voxmedia.com/unison/klavika/klavikawebbasicregularItalic/klavikawebbasicregularItalic.eot?") format("embedded-opentype"),
     url("//fonts.voxmedia.com/unison/klavika/klavikawebbasicregularItalic/klavikawebbasicregularItalic.woff2") format("woff2"),
       url("//fonts.voxmedia.com/unison/klavika/klavikawebbasicregularItalic/klavikawebbasicregularItalic.woff") format("woff");
  font-style:italic;
  font-weight:400;
}
