$primary-color: #eb1c23;
$secondary-color: #221f1f;

$arrow-color: $primary-color;

$chart-primary-color: #b31e2c;
$chart-secondary-color: $secondary-color;

$body-font-family: 'Open Sans';
$paragraph-font-family: $body-font-family;

$header-font-family: 'Klavika Bold';
$header-font-weight: 700;

$button-font-family: $body-font-family;
$button-bg-color: $primary-color;
