// EdProd Framework Settings
// THIS FILE IS FOR VARIABLES ONLY!!
// Look at the _settings.scss file one folder up to see available variables
// USE _overrides.scss FOR CSS RULES
// This file loads before the framework, so most foundation variables are not
// available yet. Overrides loads after the framework.

$primary-color: #ff604a;
$secondary-color: #465451;

$arrow-color: $primary-color;

$chart-primary-color: $primary-color;
$chart-secondary-color: #536662;

$font-family-sans-serif: 'Acto', Verdana, Helvetica, Roboto, Arial, sans-serif;
$font-family-serif: Georgia, Cambria, "Times New Roman", Times, serif;

$body-font-family: $font-family-serif;

$header-font-family: 'Acto', Verdana, Helvetica, Roboto, Arial, sans-serif;
$header-font-weight: 700;

$paragraph-font-family: $body-font-family;

$button-font-family: $header-font-family;
$button-bg-color: $primary-color;
$button-bg-color-hover: darken($button-bg-color, 4%);

$side-nav-font-family: $font-family-sans-serif;

$label-font-family: $font-family-sans-serif;

$sub-nav-font-family: $font-family-sans-serif;
