<script>AUTOTUNE = <%=data.autotune.to_json %>;</script>
<article>
  <div id="output">
    <noscript>You must enable Javascript</noscript>
  </div>
  <a id="generate" href="#" title="Click for another"></a>
</article>
