<script>
AUTOTUNE = <%= autotune_data_without_themes.to_json %>;
FB_APP_ID = '<%=facebook_app_id %>';
TWITTER = '<%=twitter %>';
</script>
<% if vertical == 'theverge' %>
	<script src="//use.typekit.net/kxl5epj.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>
<% end %>
<article>
  <div id="output">
    <noscript>You must enable Javascript</noscript>
  </div>
  <a id="generate" href="#" title="Click for another"></a>
  <div class="share">
    <a id="twitter" href="#">Tweet</a>
    <a id="facebook" href="#">Share</a>
  </div>
</article>

<%= javascript_include_tag  "all" %>
