<script>
AUTOTUNE = <%=data.autotune.to_json %>;
FB_APP_ID = '<%=facebook_app_id %>';
TWITTER = '<%=twitter %>';
</script>
<script>
var themeData = AUTOTUNE.theme_data;
$(document).ready(function () {
  $('article').hide();
	window.randomizer = Randomizer(AUTOTUNE);
  pymChild.onMessage('updateData', function(data) {
    AUTOTUNE = JSON.parse(data);
		AUTOTUNE.theme_data = themeData;

		// load css file first
		var themeTag = document.getElementById('themecss');
		var themeFile = themeTag.getAttribute('href');
		themeTag.setAttribute('href',
			themeFile.replace(themeFile.match('[a-zA-Z0-9\-_]*.css$'), AUTOTUNE.theme +'.css')
		);

		// handle custom color
		if(AUTOTUNE.theme === 'custom'){
			$('#generate').css('background-color',AUTOTUNE.customColor)
				.hover(function(){
					$(this).css('background-color',AUTOTUNE.customColor);
				});
		} else {
			$('#generate').removeProp('style');
		}
		$('article').show();
    window.randomizer.reload(AUTOTUNE);

});

$(window).on('load resize', function(){
	pymChild.sendHeight();
});

});
</script>
<% if vertical == 'theverge' %>
	<script src="//use.typekit.net/kxl5epj.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>
<% end %>
<article>
  <div id="output">
    <noscript>You must enable Javascript</noscript>
  </div>
  <a id="generate" href="#" title="Click for another"></a>
  <div class="share">
    <a id="twitter" href="#">Tweet</a>
    <a id="facebook" href="#">Share</a>
  </div>
</article>
