/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/2d239f");

@font-face {
  font-family: 'Calluna-Regular';
  src: url('//fonts.voxmedia.com/racked-fonts/2D239F_0_0.eot');
  src: url('//fonts.voxmedia.com/racked-fonts/2D239F_0_0.eot?#iefix') format('embedded-opentype'),
    url('//fonts.voxmedia.com/racked-fonts/2D239F_0_0.woff2') format('woff2'),
    url('//fonts.voxmedia.com/racked-fonts/2D239F_0_0.woff') format('woff'),
    url('//fonts.voxmedia.com/racked-fonts/2D239F_0_0.ttf') format('truetype');
}

@font-face {
  font-family: 'Calluna-Bold';
  src: url('//fonts.voxmedia.com/racked-fonts/2D239F_1_0.eot');
  src: url('//fonts.voxmedia.com/racked-fonts/2D239F_1_0.eot?#iefix') format('embedded-opentype'),
    url('//fonts.voxmedia.com/racked-fonts/2D239F_1_0.woff2') format('woff2'),
    url('//fonts.voxmedia.com/racked-fonts/2D239F_1_0.woff') format('woff'),
    url('//fonts.voxmedia.com/racked-fonts/2D239F_1_0.ttf') format('truetype');
}

@font-face {
  font-family: 'Calluna-It';
  src: url('//fonts.voxmedia.com/racked-fonts/2D239F_2_0.eot');
  src: url('//fonts.voxmedia.com/racked-fonts/2D239F_2_0.eot?#iefix') format('embedded-opentype'),
    url('//fonts.voxmedia.com/racked-fonts/2D239F_2_0.woff2') format('woff2'),
    url('//fonts.voxmedia.com/racked-fonts/2D239F_2_0.woff') format('woff'),
    url('//fonts.voxmedia.com/racked-fonts/2D239F_2_0.ttf') format('truetype');
}

//Benton Modern Display Regular
@font-face {
  font-family: "BentonModernDisp";
  src: url("//fonts.voxmedia.com/racked-fonts/a7e11e0e-e258-45ef-a571-649a5b466ee1-2.eot");
  src: url("//fonts.voxmedia.com/racked-fonts/a7e11e0e-e258-45ef-a571-649a5b466ee1-2.eot?") format("embedded-opentype"),
       url("//fonts.voxmedia.com/racked-fonts/a7e11e0e-e258-45ef-a571-649a5b466ee1-3.woff") format("woff"),
       url("//fonts.voxmedia.com/racked-fonts/a7e11e0e-e258-45ef-a571-649a5b466ee1-1.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

//Benton Modern Display Italic
@font-face {
  font-family: "BentonModernDisp";
  src: url("//fonts.voxmedia.com/racked-fonts/139d99c3-b9ff-4c6f-9b30-6fbd7b209361-2.eot");
  src: url("//fonts.voxmedia.com/racked-fonts/139d99c3-b9ff-4c6f-9b30-6fbd7b209361-2.eot?") format("embedded-opentype"),
       url("//fonts.voxmedia.com/racked-fonts/139d99c3-b9ff-4c6f-9b30-6fbd7b209361-3.woff") format("woff"),
       url("//fonts.voxmedia.com/racked-fonts/139d99c3-b9ff-4c6f-9b30-6fbd7b209361-1.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
}

//Franklin ITC Pro Cond Light

@font-face {
  font-family: "Franklin ITC Cond Light";
  src: url("//fonts.voxmedia.com/racked-fonts/efd5b79a-f59e-43e7-8db2-4b42d3bc390c-2.eot");
  src: url("//fonts.voxmedia.com/racked-fonts/efd5b79a-f59e-43e7-8db2-4b42d3bc390c-2.eot?") format("embedded-opentype"),
       url("//fonts.voxmedia.com/racked-fonts/efd5b79a-f59e-43e7-8db2-4b42d3bc390c-3.woff") format("woff"),
       url("//fonts.voxmedia.com/racked-fonts/efd5b79a-f59e-43e7-8db2-4b42d3bc390c-1.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

//Franklin ITC Pro Cond Light Italic

@font-face {
  font-family: "Franklin ITC Cond Light";
  src: url("//fonts.voxmedia.com/racked-fonts/7aba4e57-3ef4-4a8e-8f93-3d9656b90897-2.eot");
  src: url("//fonts.voxmedia.com/racked-fonts/7aba4e57-3ef4-4a8e-8f93-3d9656b90897-2.eot?") format("embedded-opentype"),
       url("//fonts.voxmedia.com/racked-fonts/7aba4e57-3ef4-4a8e-8f93-3d9656b90897-3.woff") format("woff"),
       url("//fonts.voxmedia.com/racked-fonts/7aba4e57-3ef4-4a8e-8f93-3d9656b90897-1.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
}

//Franklin ITC Pro Light

@font-face {
  font-family: "Franklin ITC Light";
  src: url("//fonts.voxmedia.com/racked-fonts/8d2188df-697f-4806-be83-3505571b1ad7-2.eot");
  src: url("//fonts.voxmedia.com/racked-fonts/8d2188df-697f-4806-be83-3505571b1ad7-2.eot?") format("embedded-opentype"),
       url("//fonts.voxmedia.com/racked-fonts/8d2188df-697f-4806-be83-3505571b1ad7-3.woff") format("woff"),
       url("//fonts.voxmedia.com/racked-fonts/8d2188df-697f-4806-be83-3505571b1ad7-1.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

//Franklin ITC Pro Light Italic

@font-face {
  font-family: "Franklin ITC Light";
  src: url("//fonts.voxmedia.com/racked-fonts/62250599-af1f-4e8b-ac07-79f96dc35828-2.eot");
  src: url("//fonts.voxmedia.com/racked-fonts/62250599-af1f-4e8b-ac07-79f96dc35828-2.eot?") format("embedded-opentype"),
       url("//fonts.voxmedia.com/racked-fonts/62250599-af1f-4e8b-ac07-79f96dc35828-3.woff") format("woff"),
       url("//fonts.voxmedia.com/racked-fonts/62250599-af1f-4e8b-ac07-79f96dc35828-1.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
}

.-caluna {
  font-family: "Calluna-Regular",sans-serif;
  font-style: normal;
}

.-caluna-bold {
  font-family: "Calluna-Bold",sans-serif;
  font-style: normal;
}

.-caluna-italic {
  font-family: "Calluna-It",sans-serif;
}

.-benton {
  font-family: "BentonModernDisp",sans-serif;
  font-style: normal;
  font-weight: normal;
}

.-benton-italic {
  font-family: "BentonModernDisp",sans-serif;
  font-style: italic;
  font-weight: normal;
}

.-franklin-cond {
  font-family: "Franklin ITC Cond Light",sans-serif;
  font-style: normal;
  font-weight: normal;
}

.-franklin-cond-italic {
  font-family: "Franklin ITC Cond Light",sans-serif;
  font-style: italic;
  font-weight: normal;
}

.-franklin {
  font-family: "Franklin ITC Light",sans-serif;
  font-style: normal;
  font-weight: normal;
}

.-franklin-italic {
  font-family: "Franklin ITC Light",sans-serif;
  font-style: italic;
  font-weight: normal;
}
