// EdProd Framework Settings
// THIS FILE IS FOR VARIABLES ONLY!!
// Look at the _settings.scss file one folder up to see available variables
// USE _overrides.scss FOR CSS RULES
// This file loads before the framework, so most foundation variables are not
// available yet. Overrides loads after the framework.

$primary-color: #D36C66;
$secondary-color: #579FAB;

$arrow-color: $primary-color;

$header-font-family: "BentonModernDisp", sans-serif;
$body-font-family: "Calluna-Regular", sans-serif;
$button-font-family: "Franklin ITC Cond Light", sans-serif;

$button-font-color: black;
$button-bg-color: $secondary-color;
$button-bg-color-hover: darken($button-bg-color, 4%);

$progress-meter-color: $secondary-color;
$progress-meter-secondary-color: $primary-color;
