// this needs updating to a c4a specific typography kit, not polygons
@import url(//cloud.typography.com/706184/753582/css/fonts.css);

.-gotham {
  font-family: 'Gotham SSm A', 'Gotham SSm B';
  font-weight: 400;
  font-style: normal;
}

.-gotham-bold {
  font-family: 'Gotham SSm A', 'Gotham SSm B';
  font-weight: 700;
  font-style: normal;
}
